body{

    margin : 0 ;
    padding : 0 ;
    background-color: #001c30;
    height: 100vh;
    display: flex ;
    justify-content:center;
    align-items: center;
    text-align:center ;
    flex-direction: column;
}
